<div class="hero-unit">
	<h2>Mrs. <span class="heart-image"></span> Mr.</h2>
	<img src="img/mrs-and-mr.jpg">
	<br/>
	<br/>
	<p><a href="#/registration" class="btn btn-inverse btn-large">Svar på invitasjonen &raquo;</a></p>
</div>

<div class="row">
	<div class="span12">
		<h3>Velkommen</h3>
		<p>
			Vi gifter oss &lt;DATE&gt; &lt;YEAR&gt; og ser frem til å dele denne dagen med deg/dere.
			<br/>
			<br/>

			Vielsen vil finne sted i <a href="#/directions">&lt;CHURCH&gt;</a> kl. 14.30.<br/>
			Påfølgende middag og fest blir på <a href="#/directions">&lt;PARTY_PLACE&gt;</a> etter vielsen.
			<br/>
			<br/>
			Husk svarfristen &lt;DATE&gt;.
			<br/>
			<br/>

			Antrekk: noe du føler deg fin i.<br/>
			Toastmaster &lt;TOASTMASTER&gt; kan nås på &lt;EMAIL&gt; eller &lt;PHONE&gt;.
			<br/>
			<br/>

			Hjertelig velkommen!
			<br/>
			<br/>

			Mrs. <i class="icon-heart"></i> Mr.
		</p>
		<br/>
		<br/>
		<br/>
	</div>
</div>