<div class="row">
	<div class="span12">
		<h2>Svar på invitasjonen</h2>
		Vennligst fyll ut skjema under for å svare på invitasjonen.
	</div>
</div>

<br/>

<div class="row" ng-controller="RegistrationCtrl">

	<span ng-repeat="alert in alerts" >
		<div class="alert alert-{{alert.type}}">
			<strong>{{alert.title}}</strong><br/>
			<span>{{alert.content}}</span>
		</div>
	</span>
	<div class="alert">
		<span><strong>Registrering er stengt</strong></span>
	</div>
	<!--<div class="alert" ng-show="invalidForm()">-->
		<!--<span><strong>Info: </strong>Vennligst fyll ut påkrevde felter merket med (<span class="required">*</span>)</span>-->
	<!--</div>-->
	<!--<div class="alert" ng-show="registration-form.$invalid">-->
		<!--<span><strong>Info: </strong>E-post er ugyldig</span>-->
	<!--</div>-->
	<!--<form id="registration-form" name="form" novalidate>-->
		<!--<div class="span3">-->
			<!--<fieldset>-->
				<!--<label>Fornavn <span class="required">*</span></label>-->
				<!--<input id="guest1.firstName" type="text" ng-model="guest1.firstName" ng-change="invalidForm()">-->
				<!--<label>Etternavn <span class="required">*</span></label>-->
				<!--<input id="guest1.lastName" type="text" ng-model="guest1.lastName" ng-change="invalidForm()">-->
				<!--<label>E-post</label>-->
				<!--<input id="guest1.email" type="email" ng-model="guest1.email">-->
				<!--<label>-->
					<!--Kommer <span class="required">*</span>-->
					<!--<label class="inline-label"><input type="radio" ng-model="guest1.attending" value="true" name="optionAttend1"> Ja</label>-->
					<!--<label class="inline-label"><input type="radio" ng-model="guest1.attending" value="false" name="optionAttend2"> Nei</label>-->
				<!--</label>-->
				<!--<textarea rows="3" ng-model="guest1.note" placeholder="Eventuell matallergi eller annet"></textarea>-->
			<!--</fieldset>-->
		<!--</div>-->
		<!--<div class="span2">-->
			<!--<fieldset>-->
				<!--<label>Fornavn *</label>-->
				<!--<input type="text" ng-model="guest2.firstName" ng-change="invalidForm()">-->
				<!--<label>Etternavn *</label>-->
				<!--<input type="text" ng-model="guest2.lastName" ng-change="invalidForm()">-->
				<!--<label>E-post</label>-->
				<!--<input type="email" ng-model="guest2.email">-->
				<!--<label>-->
					<!--Kommer *-->
					<!--<label class="inline-label"><input type="radio" ng-model="guest2.attending" value="true" name="optionAttend3"> Ja</label>-->
					<!--<label class="inline-label"><input type="radio" ng-model="guest2.attending" value="false" name="optionAttend4"> Nei</label>-->
				<!--</label>-->
				<!--<textarea rows="3" ng-model="guest2.note" placeholder="Eventuell matallergi eller annet"></textarea>-->
				<!--<button id="save-guest" ng-disabled="registration-form.$invalid || invalidForm()" type="submit" ng-click="saveGuest()" class="btn btn-success pull-right">Send svar</button>-->
				<!--<button id="clear-form" type="submit" ng-click="resetForm()" class="btn btn-link pull-right">Avbryt</button>-->
			<!--</fieldset>-->
		<!--</div>-->
	<!--</form>-->

</div>