<h2>Overnatting</h2>

<span ng-controller="HotelCtrl">
	<div class="alert alert-error" ng-hide="query_success">
		<strong>{{error_message.title}}</strong><br/>
		<span>{{error_message.content}}</span>
	</div>
	<div class="hotel" ng-repeat="hotel in hotels">
		<h4>{{hotel.name}}</h4>
		<i class="icon-home"></i> {{hotel.address}}<br/>
		<i class="icon-user"></i> {{hotel.phone}}<br/>
		<i class="icon-envelope"></i> {{hotel.email}}<br/>
		<i class="icon-globe"></i> <a href="{{hotel.url}}" target="_blank">Gå til hjemmesiden <i class="icon-share-alt"></i></a>
	</div>
</span>