/* app css stylesheet */

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li:before {
  content: "|";
  padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
  content: "";
  padding: 0;
}

h2, h3 {
	color: #5a5a5a;
}

.hero-unit {
	padding: 0;
	background-color: inherit;
}

.app-version {
	padding: 10px 15px 10px;
}

.main-content {
	margin-top: 56px;
}

.required {
	color: red;
}

.inline-label {
	display: inline;
	margin-left: 20px;
}

.heart-image {
	background-image: url("../img/kml_Heart-small.png");
	background-repeat: no-repeat;
	width: 40px;
	height: 33px;
	display: inline-block;
}

.hotel {
	margin-top: 16px;
}

.contact-img {
	margin-top: 34px;
}

.gridStyle {
	border: 1px solid #D4D4D4;
	height: 500px;
	width: 1000px;
}

.gridStyleWide {
	width: 1200px;
}

.button-margin-bottom {
	margin-bottom: 10px;
}